body {
  background-color: #56595f;
}

.title {
  font-size: 40px;
  text-align: center;
  color: #fff000;
}

.subtitle {
  font-size: 20px;
  text-align: center;
  color: #ffbb00;
}

.hour {
  margin-inline: 20px;
  float: right;
  text-align: left;
}